<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{{ url_for("static", filename="fonts.css") }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for("static", filename="quasar.prod.css") }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for("static", filename="app.css") }}" rel="stylesheet" type="text/css">
    <title>Corporate Airspace Security</title>

</head>
<body>
    <div id="app">
        <airsec-app></airsec-app>
    </div>
    <script src="{{ url_for("static", filename="chart.js")}}"></script>
    <script src="{{ url_for("static", filename="moment.js")}}"></script>
    <script src="{{ url_for("static", filename="chartjs-adapter-moment.js")}}"></script>
    <script src="{{ url_for("static", filename="vue.global.prod.js")}}"></script>
    <script src="{{ url_for("static", filename="quasar.umd.prod.js")}}"></script>
    <script src="{{ url_for("static", filename="app.js")}}"></script>
</body>
</html>
